# Python virtual environments
.venv/
venv/
ENV/

# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Outputs
output/
streamlit_output/

# Media
input_video.mp4

# Reports
reports/
*.pdf
*.html

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
